<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Post</title>
</head>
<body>
  <a href="/posts">Back</a>
  <ul>
    <li> By: <%= post.author %></li>
    <li> Date: <%= post.date %></li>
    <li> Post: <%= post.text %></li>
  </ul>
</body>
</html>
